<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Salary Update</title>

    <!-- Style Sheets -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/awesome-bootstrap-checkbox/1.0.0/awesome-bootstrap-checkbox.min.css" rel="stylesheet" integrity="sha256-TWPSYzKJ/l2jd6cqUY7UFnaUaIzlSfotHlqxFATtnsQ=" crossorigin="anonymous" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" integrity="sha256-R91pD48xW+oHbpJYGn5xR0Q7tMhH4xOrWn1QqMRINtA=" crossorigin="anonymous" />
    <link href="~/Content/Site.min.css" rel="stylesheet" />

    <!-- Cute little favicon-->
    <link href="~/Content/Images/Cash.png" rel="icon" type="image/x-icon" />

    <!-- Scripts -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha256-yNbKY1y6h2rbVcQtf0b8lq4a+xpktyFc3pSYoGAY1qQ=" crossorigin="anonymous"></script>
    <script src="~/Scripts/scripts.js"></script>
</head>
<body>
    <div class="navbar navbar-blue">
        <div class="container">
            <div class="navbar-header">
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <span class="logo"><img src="~/Content/Images/Cash.png" alt="Cash" /></span>
                    Salary Update
                </a>
            </div>
            <div id="navbar">
                <ul class="nav navbar-nav">
                    @RenderSection("nav", required: false)
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-text">Welcome @User.Identity.Name!</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <div class="container text-center">
            <hr />
            <p>&copy; @DateTime.Now.Year - All rights reserved</p>
        </div>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
